<!-- <div class="gallery-banner">
<h1 class="center-text">Contact Company Name LLC</h1>
</div> -->

<!--
Name
Address
City
State
Phone Number
Property Type
Message From Customer
-->

<%= form_with url: contact_path, local: true do |f| %>
<h4>Your Name</h4>
<%= text_field_tag 'name', nil, placeholder: "Your Name" %>

<h4>Street Address</h4>
<%= text_field_tag 'street_address', nil, placeholder: "123 Home Street" %>

<h4>City</h4>
<%= text_field_tag 'city', nil, placeholder: "Denver" %>

<h4>State</h4>
<%= text_field_tag 'state', nil, value: "Colorado" %>

<h4>Zip Code</h4>
<%= text_field_tag 'zip', nil, placeholder: "88888" %>

<h4>Property Type</h4>
<%= radio_button_tag :property_type, 'Residential'%>
<%= label_tag 'Residential' %>
<br>
<%= radio_button_tag :property_type, 'Commercial'%>
<%= label_tag 'Commercial' %>
<br>
<br>

<%= f.submit 'Submit' %>
<% end %>
