<!DOCTYPE html>
<html>
<head>
  <title>Logic HVAC / R</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="description" content="Logic HVAC / R is a Colorado Company that prides itself on quality craftsmanship, fair pricing and customer relationships. Let us handle your next HVAC / Refrigeration install or repair">

  <link href="https://fonts.googleapis.com/css?family=Lato|Rambla" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  <body>

    <div class="row">

      <div class="col-lg-2 col-xl-3">
        <!-- Dynamic Body Bargin -->
      </div>

      <div class="col-lg-8 col-xl-6">
        <div class="top-logo-div">
          <img class="center_image" src="https://i.imgur.com/cu9llrQ.png" alt="Main Logo">
        </div>
        <% if flash[:notice] %>
        <div class="alert alert-success center-text"><h2> <%= flash[:notice] %></h2></div>
        <% end %>

        <%= yield %>

        <nav class="navbar navbar-expand-xxl navbar-dark bg-dark nav-font">
          <button class="navbar-toggler center_image" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <!-- <h4>~ Menu ~</h4> -->
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link center-text" href="/main">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link center-text" href="/about">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  center-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/residential">Residential</a>
                  <a class="dropdown-item" href="/commercial">Commercial</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link  center-text" href="/contact">Contact</a>
              </li>
              <div class="buttons">
                <button type="button" name="button">Call Us</button><br>
                <button type="button" name="button">Email Us</button><br>
                <button type="button" name="button">Have us call You</button>
              </div>
              <p class="foot-text"><strong>720.366.3781 - LogicHVACColorado@Gmail.com</strong></p>

            </ul>
          </div>

        </nav>
      </div>

      <div class="col-lg-2 col-xl-3">
        <!-- Dynamic Body Margin -->
        <!-- <div class="fixed-bottom center-text">
          <p class="foot-text"><strong>720.366.3781 - LogicHVACColorado@Gmail.com</strong></p>
        </div> -->
      </div>
    </div>
    <!-- ^^ Closes row class -->
  </body>
  </html>
